*{
    margin:0;
    padding:0;
}

#logo{
    text-align:center;
    margin-top:10%;
}

form#buscador input{
    width:70%;
    font-size:2em;
    color:#ee5443;
    padding:10px;
    text-align: center;
    border-radius:10px;
    border:solid #d0d0d0 1px;
    margin-top:5%;
    -webkit-transition:opacity, 1s;
}

form#buscador input:focus{
    padding:20;
    -webkit-transition:opacity, 1s;
}
form#buscador{
    text-align:center;
}
section#orange{
    background-color:#ee5443;
    width:100%;
    heigth:30%;
}
